html {
  height: 100%;
}

body {
  width: 100%;
  height: 98%;
  background-color: #439c43ff;
  margin:0;
  padding:0;
  font-family: "Arial", "Helvetica", sans-serif;
  -webkit-user-select: none;
  overflow: hidden;
}

p {
  margin: 5px 10px 5px 10px;
  color: yellow;
  font-weight: bold;
}

#zone-commande {
  height: 10%;
}

#consignes {
  position: relative;
  font-size: 1.5vh;
  max-height: 80%;
}

#commandes {
  position: relative;
  text-align: center;
}

.bouton {
  font-size: 1.4vh;
}

.decor {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
}

#potager {
  background-image: url(img/potager.svg);
  top: -44%;
  width: 88%;
  height: 20%;
  left: -3%;
}

#eolienne {
  background-image: url(img/eolienne.svg);
  top: -55%;
  left: 22%;
  width: 20%;
  height: 30%;
}

#fermier {
  background-image: url(img/fermier.svg);
  top: -45%;
  left: 7%;
  width: 20%;
  height: 70%;
  position: absolute;
}

#arbre {
  background-image: url(img/arbre.svg);
  top: -100%;
  left: 25%;
  width: 132%;
  height: 40%;
}

#tracteur {
  background-image: url(img/tracteur.svg);
  top: -114%;
  height: 30%;
  width: 23%;
  left: 82%;
}

#drag-zone-container {
    top: 27%;
    position: absolute;
    width: 100%;
}
#drag-zone,
#action {
    width: 85vh;
    height: 85vh;
    margin: auto;
    padding: 5%;
}

#reserve {
  padding: 3% 0 0 3%;
  position: absolute;
  top: 5%;
  width: 10%;
}

.masque-ligne, .ligne {
  position: relative;
  display: flex;
  height: 40%;
}

#masque-ligne1,
#ligne1 {
  height: 40%;
  left: 4%;
}

#masque-ligne2,
#ligne2 {
  top: -5%;
  left: -4%;
}

.pre {
  position: relative;
  height: 100%;
  width: 51%;
  position: relative;
  background-repeat: no-repeat;
}

.pre.mouton {
  margin-top: -2%;
}

#pre1 {
  background-image: url("img/enclos-lapins.svg");
}
#pre2 {
  background-image: url("img/enclos-moutons.svg");
}
#pre3 {
  background-image: url("img/enclos-poules.svg");
}
#pre4 {
  background-image: url("img/enclos-vaches.svg");
}

.modele {
  font-family: "MS Sans Serif", sans;
  background-size: 100% 100%;
  width: 25%;
  height: 15%;
  font-size: 3vmin;
  margin-left: 22%;
  padding: 5px;
  position: absolute;
  top: -10%;
}

.modele img {
  float: left;
  margin-left: 5%;
  margin-right: 5%;
  width: auto;
  height: 75%;
}

.modele img.lapin-mini {
  max-width: 35px;
  max-height: 33px;
}

.modele img.mouton-mini {
  max-width: 27px;
  max-height: 33px;
}

.modele img.vache-mini {
  max-width: 33px;
  max-height: 37px;
}

.modele img.poule-mini {
  max-width: 19px;
  max-height: 32px;
}

.erreur {
  position: absolute;
  display: block;
  color: red;
  font-weight: bold;
  font-size: 5vh;
  margin-left: 13%;
  margin-top: -8%;
}

.masque {
  position: relative;
  height: 62%;
  width: 38%;
  padding: 2% 6% 3% 9%;
  margin-top: -15%;
  clip-path: polygon(13.09% 8px, 99.66% 5.1%, 89.25% 125.15%, 1.84% 101.16%);
}

.enclos {
  width: 70%;
  height: 58%;
  position: absolute;
  top: 20%;
  left: 16%
}

#masque-enclos1, #masque-enclos2 {
  padding-top: 2%;
  height: 55%;
  clip-path: polygon(13.09% 8px, 99.66% 5.1%, 89.25% 125.15%, 1.84% 101.16%);
}

#reserve img.animal {
  height: 5vh;
  margin-left: 10%;
  margin-top: 10%;

}

.masque img.animal {
  height: 20%;
  width: auto;
}

img.animal1 {
  max-height: 51px;
  max-width: 54px;
}
 img.animal2 {
  max-height: 54px;
  max-width: 44px;
}
 img.animal3 {
  max-height: 54px;
  max-width: 61px;
}
 img.animal4 {
  max-height: 52px;
  max-width: 31px;
}

#reserve img {
    display: block;
}

#reserve img#poubelle {
  width: 10vw;
  height: 11vw;
  max-width: 125px;
  max-height: 144px;
  padding-bottom: 7%;
}

@media screen and (orientation: portrait) {
  #drag-zone-container,
  #action {
    width: 90vw;
    height: 90vw;
    margin-top: 18%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #drag-zone {
    padding: 0;
    width: 100%;
    height: 100%;
    margin-top: 19%;
    margin-left: -1%;
  }
  #reserve {
    width: 100%;
    top: 10%;
    padding: 0 0 0 3%;
  }
  #reserve img {
    display: inline-block;
    width: 14%;
  }
  #reserve img.animal {
    margin-left: 5%;
    margin-top: 0;
    padding-bottom: 10%;
    width: auto;
    height: 4vh;
  }
  #masque-enclos3, #masque-enclos4,
  #enclos3, #enclos4 {
    height: 64%;
  }
  .erreur {
    font-size: 5vw;
  }
}

@media screen and (orientation: portrait)  and (max-width: 640px) {
    #zone-commande {
        height: 14%;
    }
    #reserve {
        padding-top: 15%;
    }
}

@media screen and (min-aspect-ratio: 7/6) {
  #drag-zone, #action {
    margin-top: 5vh;
    padding: 0;
    width: 100vh;
    height: 100vh;
  }
}
